{{! 定義全站的佈局 (layout) }}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Movie List</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Movie List</a>
      </div>
    </nav>
    {{{body}}}

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>